@model PseudoCompanyFront.Models.Reserva

@{
    ViewData["Title"] = "Edit";
}

<h1>Subalugar reserva</h1>

<h3>Tem a certeza que pretende subalugar esta reserva?</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservaID" />
            <div class="form-group">

            </div>
        </form>
    </div>
</div>

<form asp-action="Edit">
    <input type="hidden" asp-for="ReservaID" />
    <input type="submit" value="Subalugar" class="btn btn-danger" /> |
    <a asp-action="Index">Voltar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
