@{
    ViewData["Title"] = "Sobre";
}
<div class="text-center">
        <h2>Sobre</h2>
            <p>
                A PseudoCompany foi criada por 5 indivíduos que não tinham nada para fazer nos seu quotidiano e resolveram concorrer ao programa UpSkill.
                Graças a este programa varias Web Applications foram criada durante a duração do mesmo e todas elas com grau elevado de dificuldade, mas nada que impedisse
                estes 5 elementos de superar todas as espectativas. Para finalizar o programa UpSkill foi pedido um sprint final e que resutou nesta fantástica aplicação Web
                e Mobile de estacionamento.
            </p>
    </div>