@model PseudoCompanyFront.Models.ParqueDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParqueDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParqueID" />
            <div class="form-group">
                <label asp-for="NomeParque" class="control-label"></label>
                <input asp-for="NomeParque" class="form-control" />
                <span asp-validation-for="NomeParque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIFParque" class="control-label"></label>
                <input asp-for="NIFParque" class="form-control" />
                <span asp-validation-for="NIFParque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lotacao" class="control-label"></label>
                <input asp-for="Lotacao" class="form-control" />
                <span asp-validation-for="Lotacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoradaID" class="control-label"></label>
                <input asp-for="MoradaID" class="form-control" />
                <span asp-validation-for="MoradaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
