@model PseudoCompanyFront.Models.Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}

<h4>Informação do Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClienteID" />
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailCliente" class="control-label"></label>
                <input asp-for="EmailCliente" class="form-control" />
                <span asp-validation-for="EmailCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NifCliente" class="control-label"></label>
                <input asp-for="NifCliente" class="form-control" />
                <span asp-validation-for="NifCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPagamento" class="control-label"></label>
                <input asp-for="MetodoPagamento" class="form-control" />
                <span asp-validation-for="MetodoPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista de Clientes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
