@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo à PseudoCompany Smart Parking!</h1>
    <img src="~/Img/P2.png" ; style="width: 350px;">


    <!--Check for token - false em caso de nao estar login-->
    @if (ViewBag.Token == false)
    {
        <p style="font-size:30px ">Usuário nao autenticado!</p>
    }
    else
    {
        <p style="font-size:30px ">Login efectuado com sucesso!</p>
    }

    <!-- Check for role-->
    @if (TempData["role"] == null)
    {
        //<p>Role = Nao registado</p>
    }

    @if ((string)TempData["role"] == "\"Administrator\"")
    {
       // <p>Role = Administrador</p>
    }

    @if ((string)TempData["role"] == "\"User\"")
    {
       // <p>Role = Utilizador Cliente</p>
    }

    @if (TempData["message"] != null)
    {
        <div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3>@TempData["message"]</h3>
        </div>
    }
</div>
