<!DOCTYPE html>
<html>

@{
    ViewData["Title"] = "Política de Privacidade";
}


<head>
    <style>
        body {
            background-image: url("/Img/162752-pg.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 1rem;
            line-height: 1;
            color: #fff;
            text-align: left;
        }

        textarea {
            width: 100%;
            height: 100px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }

        input[type=text], select {
            width: 100%;
            padding: 5px 15px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
           background-color: #45a049;
        }

        div {
            border-radius: 5px;
            padding: 20px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 15px;
        }

    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <p>Todos os dados fornecidos pelos nossos clientes estão protegidos pelo Regulamento Geral de Proteção de Dados.</p>

    <div>
        <form action="/action_page.php">
            <label for="fname">Primeiro Nome</label>
            <input type="text" id="fname" name="primeiroNome" placeholder="Primeiro Nome..">

            <label for="lname">Sobrenome</label>
            <input type="text" id="lname" name="sobrenome" placeholder="Sobrenome..">

            <label for="sexo">Sexo</label>
            <select id="sexo" name="sexo">
                <option value="feminino">Feminino</option>
                <option value="masculino">Masculino</option>
            </select>

            <textarea placeholder="Sobrenome.."> </textarea>
            <input type="submit" value="Submit">
        </form>
    </div>

    
        
        
</body>
</html>